# Environments
.env
.venv/
env/
venv/

# Database (Kullanıcı verilerinin GitHub'a gitmemesi için)
state.db

# Python
__pycache__/
*.py[cod]
*$py.class

# Database (Kullanıcı verilerinin ve geçici SQLite dosyalarının GitHub'a gitmemesi için)
*.db
*.db-shm
*.db-wal